.modal {
  position: absolute;
  z-index: 1300;
  width: 35%;
  min-width: 450px;
  background: white;
  top: 81px;
  left: 50%;
  transform: translateX(-50%);
  padding: 35px 25px 22px;

  &__overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1200;
    top: 0;
    left: 0;
    background-color: #0000006b;
  }

  &__logo {
    height: 250px;
  }
}

.content__logo {
  height: 100%;
  padding: 0 95px;
}